<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
        </div>
        <div class="col-8 ps-5">
            <h2 class="color fs-3">{{movie.title}}</h2>

            <p>{{movie.overview}}</p>

            <p><span class="color"> Data di uscita: </span>{{movie.release_date}}</p>
            <p><span class="color">Lingua originale: </span>{{movie.original_language}}</p>
            <p><span class="color">Media voti: </span>{{movie.vote_average}}</p>
            <p><span class="color">Numero di voti: </span>{{movie.vote_count}}</p>
            <p><span class="color">Visualizzazioni: </span>{{movie.popularity}}</p>

        </div>
    </div>
</div>
