@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* IMPOSTAZIONI GENERALI */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-position: center;
}

/* HEADER */

header {
    margin: 25px;
    background-image: linear-gradient(#1b78a3, #086e9d);
    text-align: center;
    padding: 2em;
    box-shadow: 0 5px 10px #181818;
}

header div p {
    color: white;
    margin: 2em 0;
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
}

nav ul li {
    list-style: none;
    line-height: 1.5em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
}


nav ul li a:link,
nav ul li a:visited {
    color: white;
    text-decoration: none;
}

nav ul li a::before {
    content: '\21D2 ';
    color: white;
}

nav ul li a::after {
    content: '\21D0';
    color: white;
}

/* MAIN */
header+hr {
    display: none;
}

main {
    margin: 25px;
    background-color: white;
    padding: 2em;
    box-shadow: 0 5px 10px #181818;
}



/* ELEMENTI NEL MAIN - ARTICLE */

main article h1 {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1.5em;
}

main article h1+p {
    color: gray;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 1.5em 0;
}

main article p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 1.2em;
}

main article p strong {
    color: #d842d8;
    font-weight: 600;
}

article ul {
    margin-left: 2em;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 2em;
}

article ul li code {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
}

article h2 {
    font-size: 1.3em;
    line-height: 1.5em;
}

article ol {
    margin-left: 2em;
    margin-bottom: 2em;
    font-size: 1.3em;
    line-height: 1.5em;
}

/* TABELLE */

article table {
    text-align: center;
    font-size: 1.3em;
    border-bottom: 2px solid #1b78a3;
    margin-bottom: 2em;
}

article table caption {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 500;
}

article table thead tr th {
    background-color: #1b78a3;
    color: white;
    padding: 15px;
    line-height: 1.5em;
    vertical-align: bottom;
    border-right: 1px solid gray;
}

article table tbody tr {
    line-height: 3em;
}

article table tbody tr:nth-child(even) {
    background-color: #F2F2F2;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

article p a:link,
article p a:visited {
    color: rgb(6, 151, 255);
}

article iframe {
    border-radius: 25px;
}


/* FORM */
article section {
    background-color: lightgray;
    margin: 2em 0;
    padding: 1.5em;
    line-height: 2em;
}

article section h2 {
    color: #343134;
    margin-bottom: 1.2em;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
}

article section form {
    text-align: center;
}

article section form fieldset input {
    font-size: 1.1em;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px dashed grey;
}

article section form fieldset button {
    font-size: 1.1em;
    padding: 5px 10px;
    background-color: #1b78a3;
    color: white;
    border: none;
    font-weight: 600;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    color: #343134;
    margin: 1.2em;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
}

aside div {
    background-color: lightgray;
    border: 2px solid rgb(176, 176, 176);
    margin-bottom: 1.5em;
    padding: 1.5em;
    line-height: 1.5em;
}

aside div a:link,
aside div a:visited {
    color: #0697ff;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 1.3em;
}

aside div p {
    text-align: right;
}

aside div a+p {
    text-align: left;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}


/* FOOTER */

main+hr {
    display: none;
}

footer {
    margin: 25px;
    background-image: linear-gradient(#064c7e, #023045);
    text-align: center;
    padding: 1.2em;
    line-height: 1.5em;
    box-shadow: 0 10px 10px #181818;
    color: white;
    font-size: 1.1em;
}

footer p {
    margin-bottom: 1.5em;
}

footer address a:link,
footer address a:visited {
    color: #d842d8;
}