* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 50px 0;
    text-align: center;
}

.row {
    padding: 50px 0;
}

ul {
    margin: 50px;
    list-style: none;
}

ul li {
    padding: 15px 0;
}