* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
    line-height: 4em;
    font-family: 'Lato', sans-serif;
}