<div class="container d-flex flex-column align-items-center pt-5">
    <mat-card class="example-card">
        <mat-card-header class="d-flex justify-content-center py-3">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #form="ngForm" (ngSubmit)="login(form)">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" required name="email" ngModel id="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" required name="password" ngModel id="password">
                </mat-form-field>

                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Login</button>

                <p class="mt-3">Non sei ancora registrato? <a mat-button color="accent"
                        [routerLink]="['/register']">Registrati</a>
                </p>

            </form>
        </mat-card-content>

        <mat-card-footer>
            <h2 *ngIf=" err" class="text-danger text-center mt-3">{{err}}</h2>
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

</div>
