h1,
p {
    color: white;
}

mat-card {
    box-shadow: 2px 2px 10px black !important;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-label {
        color: white;
    }

    input {
        color: white;
    }
}
