<div class="container d-flex flex-column align-items-center pt-5">
    <mat-card class="example-card">
        <mat-card-header class="d-flex justify-content-center py-3">
            <mat-card-title>Registrati</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <mat-form-field appearance="outline">
                    <mat-label for="nome">Nome</mat-label>
                    <input matInput type="text" required name="name" ngModel id="nome">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" required name="email" ngModel id="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" required name="password" ngModel id="password">
                </mat-form-field>

                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Registrati</button>

            </form>

        </mat-card-content>
        <mat-card-footer>
            <h2 *ngIf="err" class="text-danger mt-3">{{err}}</h2>
        </mat-card-footer>
    </mat-card>

</div>
