/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

body>hr {
    margin: 50px 15px;
}


/* HEADER */
header {
    text-align: center;
    background-color: #489EC2;
    padding: 40px 0 25px 0;
    border-bottom: 10px solid #317592;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 2.5em;
    line-height: 1.5em;
}

header h1 span {
    color: #489EC2;
    background-color: white;

}


header h2 {
    font-size: 1.5em;
    line-height: 3em;
    font-variant: small-caps;
}

header+hr {
    display: none;
}


/* MAIN */

main {
    margin: 0 15px;
}


/* ELEMENTI NEL MAIN */
main h2 {
    text-align: center;
    color: #387590;
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: 600;
    margin: 50px 0;
}

figure {
    text-align: center;
}

figure img {
    border: 2px solid rgba(128, 128, 128, 0.3);
    padding: 15px;
}

figcaption {
    margin: 15px;
    font-size: 1.5em;
}

b {
    font-weight: bold;
}

a {
    color: #BF7A75;
}

address {
    font-size: 1.5em;
    line-height: 1.5em;
}

p b {
    font-size: 1em;
    line-height: 4em;
}

blockquote {
    background-color: lightgray;
    font-size: 1.5em;
    border-radius: 15px;
    line-height: 2em;
    padding: 20px;
    font-weight: 400;
    font-style: italic;
}

div>p {
    font-size: 1.5em;
    line-height: 1.5em;
}

strong {
    color: #489EC2;
}

hr {
    border-top: dashed 1px;
    margin: 50px 0;
}

h3 {
    font-size: 1.7em;
    font-weight: 600;
    line-height: 2em;
}

p mark {
    background-color: #317592;
    color: white;
}

ul {
    margin: 1.5em 0;
    margin-left: 3em;
    font-size: 1.5em;
    line-height: 1.5em;
}

dl {
    font-size: 1.5em;
    line-height: 1.5em;
}

dl dd {
    margin-left: 2em;
}

/* FOOTER */

footer {
    font-size: 1.2em;
    line-height: 1.5em;
    border-top: 5px solid #489EC2;
    background-color: #3A3A3A;
    text-align: center;
    color: white;
}

kbd {
    color: yellow;
    font-style: italic;
    font-weight: bold;
}



p small {
    line-height: 2em;
    color: rgb(179, 177, 177);
}

footer>hr {
    display: none;
}

footer p {
    margin-bottom: 40px;
}

footer hr+p {
    margin-bottom: 0;
}