* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.phone-outer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 400px;
    border-radius: 15px;
    background-color: black;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    position: relative;
    height: 20px;
    width: 199px;
    margin-bottom: 10px;
    color: white;
    justify-content: space-between;
    font-size: 12px;
}

.bottom-bar button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2em;

}

.notch {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    margin: 5px auto;
}

.phone-inner {
    background-color: white;
    width: 199px;
    height: 399px;
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.inner-cont {
    display: flex;
    flex-wrap: nowrap;
}

.bar {
    width: 3px;
    background-color: white;
    margin-right: 3px;
    margin-bottom: 5px;
}

.bar1 {
    height: 3px;
}

.bar2 {
    height: 6px;
}

.bar3 {
    height: 9px;
}

.button-container {
    width: 200px;
    height: 400px;
    background-image: url(../img/sfondo.jpg);
    background-position: center;
    background-size: 230px;
}

.buttons {
    height: 327px;
}

.btn {
    height: 55px;
    color: white;
}

#lorenzo {
    height: 327px;
}